@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  color: rgb(102, 95, 95);
  background-image: linear-gradient(
      90deg,
      rgba(214, 214, 207, 0.9),
      rgba(186, 186, 171, 0.9)
    ), url(https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/19.jpg?3);
  background-size: cover;
}

html {
  box-sizing:  border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: 5rem;
}

/* Navbar Styling */
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: darkolivegreen;
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 1.5rem;
}

.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 0.9rem;
}

.nav-list a:hover {
  color: rgba(128, 128, 0, 0.507);
  background-color: #f1f1f1;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

/* Welcome Content Styling */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(
      90deg,
      rgba(214, 214, 207, 0.9),
      rgba(186, 186, 171, 0.9)
    ), url(https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/19.jpg?3);
  background-size: cover;
}

figcaption {
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
}

/* Projects Content Styling */


/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  background: var(--main-gray);
  border-top: 4px solid black;
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}



h2 {
  font-size: 3rem;
}

ul {
  margin: 0;
  list-style-type: none;
}

ol {
  list-style-type: none;
  line-height: 2;
  margin-top: -10px;
  font-size: 2.75rem;
  font-weight: 600;
}

/* unvisited link */
a:link {
  color: hsl(14, 34%, 51%);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: blanchedalmond;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgba(128, 128, 0, 0.507);
  text-decoration: none;
}


