@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.container {
  width: 100%;
  margin: 5rem auto 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-image: linear-gradient(
      90deg,
      rgba(214, 214, 207, 0.9),
      rgba(186, 186, 171, 0.9)
    ), url(https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/19.jpg?3);
  background-size: cover;
  z-index:-1;
}

h1 {
  color: blanchedalmond;
  font-size: 5rem;
}

#projects {
  color: darkolivegreen;
  font-size: larger;
}
